version: '3.9'

services:
  app:
    build: 
      context: .
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py loaddata adminuser &&
             python manage.py runserver 0.0.0.0:8000"
    ports:
      - 8000:8000
    volumes:
      - ./app:/app
      - ./data/web:/vol/web
    container_name: nel
    environment:
      - SECRET_KEY=secret
      - DEBUG=1
      - DB_NAME=devdb
      - DB_USER=devuser
      - DB_PASSWORD=password
      - EMAIL_HOST_USER=peternelson063@gmail.com
      - EMAIL_HOST_PASSWORD=eugwjsnlbdlwnycu
      - DB_HOST=db
    depends_on:
      - db

  db:
    image: postgres:13-alpine
    container_name: pgdb
    volumes:
      - ./postgres-data:/var/lib/postgres/data
    environment:
      - POSTGRES_DB=devdb
      - POSTGRES_USER=devuser
      - POSTGRES_PASSWORD=password