{% extends 'base.html' %}



{% block content %}
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/static/static/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Accounts</h2>
    </div>
</section>


<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Edit Profile</h3>
                    <!-- Login Form -->
                    <div class="login-form">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">{{field.label}}</label>
                        {{field}}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn oneMusic-btn mt-30">Submit</button>
                </form>
            </div>

        </div>
    </div>
</section>

{% endblock %}