{% extends 'base.html' %}

{% block content %}
<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/static/static/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>Signup</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Registration Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Welcome to You V!bez</h3>
                    <!-- Login Form -->
                    <div class="login-form">
                        <form action="{% url 'register' %}" method="post">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="exampleInputEmail1">Full Name<span class="text-danger">*</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    placeholder="Enter Full name" name="name">
                                
                            </div>
                          
                            <div class="form-group">
                                <label for="exampleInputEmail">Email<span class="text-danger">*</label>
                                <input type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                                    placeholder="Enter Email" name="email">
                                
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername">Artist Name<span class="text-danger">*</label>
                                <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp"
                                    placeholder="Enter Username" name="username">
                                
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Password<span class="text-danger">*</label>
                                <input type="text" id="pass1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    placeholder="Enter Password"  name="password1">
                                
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Password Confirmation<span class="text-danger">*</label>
                                <input type="text" id="pass2" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    placeholder="Enter Password again"  name="password2" onkeyup="validate()">
                                     <small id="message" class="text-danger float-start"></small>

                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">Sign up</button>
                            <div>
                                <small>Already have an account? <a href="{% url 'login' %}">Login</a></small>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Registeration Area End ##### -->


{% endblock %}

