{% extends  'base.html' %}

{% block content %}

<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/static/static/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>Notification</h2>
    </div>
</section>
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row mt-5">
   
            <div class="col-12">
                <div class="elements-title mb-70">
                    <h2>Password reset sent!!!</h2>
                </div>
                <div class="elements-title mb-70">
                    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should
                    receive them shortly.</p> <br>
                    <p> If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam
                        folder.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}